/*header nav {
		height: 30px;
		width: inherit;
		position: absolute;
		bottom: 0px;
		background: url(../images/header_nav.gif) repeat-x #404040;
	}
		header nav ul {
			list-style: none;
		}
			header nav ul li {
				display: inline;
				vertical-align: middle;
				margin: 0 3px 0 20px
			}
			header nav ul li a {
				text-decoration: none;
				color: white
			}
			header nav ul li a:hover {
				color: #eac548
			}

header nav ul li ul  {
  position: absolute;
  top: 35px;
  left: 70px;
  width: 130px;
  background: #323232;
  opacity: 0.8;
  display: none;
  margin: 0;
  padding: 7px 0;
  list-style: none;
  border-radius: 3px;
}
  header nav ul li ul:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    left: 15px;
    border-width: 0 11px 11px 11px;
    border-style: solid;
    border-color: #323232 transparent;
  }
  header nav ul li ul:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    left: 4px;
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1) transparent;  
  }
    header nav ul li ul li { 
      display: block; 
      width: 100%;
      cursor: pointer; 
    }
    header nav ul li ul li a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 2px 3px;
      line-height: 1.4em;
    }*/